
.dashboard {
    text-align: center;
  }
  
  .chart-container {
    width: 60%; /* Adjust the width as per your requirement */
    margin: 0 auto; /* Center the chart */
    max-width: 600px; /* Maximum width for the chart */
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  canvas {
    max-width: 100% !important;
    height: auto !important;
  }

   .dashboard-page{
    width: 250px; 
  color: black;
  padding: 20px;
  position: fixed; 
  top: 0;
  bottom: 0;
  left: 0;
  }

  